.container {
    max-width: 208px;
    max-height: 180px;
    border: 1px solid black;
    padding: 10px 0px 10px 10px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

.calcDisplay #displayText {
    width: 193px;
    text-align: right;
    height: 30px;
}

/*Attribution: Vertical alignment of text for calc buttons were referred from: https://www.w3docs.com/snippets/css/how-to-vertically-center-text-with-css.html*/
.calcFunctions {
    display: inline-block;
    cursor: pointer;
    width: 45px;
    height: 30px;
    text-align: center;
    border: 1px solid lightgray;
    background: #dddddd;
    margin-top: 5px;
    line-height: 30px;
}

/*Attribution: Box shadow usage was obtained by using tutorial link from w2schools: https://www.w3schools.com/cssref/css3_pr_box-shadow.asp*/
.calcFunctions:active {
    box-shadow: 0 0 5px -1px gray inset;
}
